@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Helvetica';
    src: url('/src/styles/fonts/Helvetica.ttf') format('ttf');
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }
}

:root {
  --primary-400: #240d57;
  --primary-300: #501fc1;
  --primary-200: #8456ec;
  --primary-100: #e87bf8;
  --secondary-300: #ccb6ff;
  --secondary-200: #ede5ff;
  --secondary-100: #f6f2ff;
  --alert-400: #ffd7e0;
  --alert-300: #e61445;
  --alert-200: #d3ffe2;
  --alert-100: #00805e;
  --neutral-600: #4f4f4f;
  --neutral-500: #828282;
  --neutral-400: #bdbdbd;
  --neutral-300: #e0e0e0;
  --neutral-200: #f2f2f2;
  --neutral-100: #bdbdbd;
}

body {
  @apply bg-envited-secondary-100;
}
